* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    color: inherit;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #A66100;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}